body {
  &::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }
}

.dashboard {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }

  .dashboardBody {
    // background-color: brown;
    position: absolute;
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 10px;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
      visibility: hidden;
    }

    .header {
      display: flex;
      flex-direction: column;
      font-family: $avenirRegular;
      height: 50px;
      top: 0;
      position: sticky;
      background-color: white;
      // border: 1px solid rgba(16, 24, 40, 0.1);

      .headerWelcome {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;

        p {
          font-size: 12px;
        }

        div {
          display: flex;
          align-items: center;

          .notificationsIcon {
            transition: transform 0.2s;
            font-size: 20px;
            margin-right: 20px;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
            }
          }

          .userAvatar {
            cursor: pointer;
          }
        }
      }
    }

    .frame1 {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (min-width: 700px) {
        justify-content: right;
      }

      button {
        height: 40px;
        width: 150px;
        font-family: $avenirRegular;
        font-size: 14px;
        border: 0px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;

        @media screen and (min-width: 700px) {
          width: 180px;
          &:nth-child(1) {
            margin-right: 10px;
          }
        }
      }

      .terminalIcon {
        display: none;

        @media screen and (min-width: 700px) {
          display: block;
          margin-right: 5px;
        }
      }

      .requestTerminal {
        background-color: rgba(247, 85, 0, 1);
      }

      .fundWallet {
        background-color: rgba(0, 159, 245, 1);
      }
    }

    .frame2 {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 150px 150px;
      row-gap: 10px;
      column-gap: 15px;

      @media screen and (min-width: 500px) {
        grid-template-columns: 180px 180px;
        row-gap: 10px;
        column-gap: 25px;
      }

      @media screen and (min-width: 700px) {
        grid-template-columns: 20vw 20vw 20vw 20vw;
        // row-gap: 10px;
        column-gap: 25px;
      }

      .mainCard {
        height: 100px;
        width: 150px;
        background-color: rgba(1, 54, 83, 1);
        border-radius: 5px;
        position: relative;

        @media screen and (min-width: 500px) {
          height: 150px;
          width: 180px;
        }

        @media screen and (min-width: 700px) {
          height: 150px;
          width: 20vw;
        }

        .iconContainer {
          height: 25px;
          width: 30px;
          background-color: rgba(239, 248, 255, 1);
          position: absolute;
          margin-top: 10px;
          margin-left: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          font-size: 12px;
        }

        .amountContainer {
          position: absolute;
          bottom: 0;
          width: 100px;
          height: 40px;
          background-color: rgba(255, 255, 255, 0.5);
          margin-left: 20px;
          margin-bottom: 15px;
          padding: 5px 0px 0px 5px;
          border-radius: 5px;

          p {
            font-size: 10px;
          }

          h5 {
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
