body {
  &::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }
}

.dashboard {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }

  .dashboardBody {
    // background-color: brown;
    position: absolute;
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 10px;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
      visibility: hidden;
    }

    .header {
      display: flex;
      flex-direction: column;
      font-family: $avenirRegular;
      height: 50px;
      top: 0;
      position: sticky;
      background-color: white;
      // border: 1px solid rgba(16, 24, 40, 0.1);

      .headerWelcome {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;

        p {
          font-size: 12px;
        }

        div {
          display: flex;
          align-items: center;

          .notificationsIcon {
            transition: transform 0.2s;
            font-size: 20px;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
            }
          }

          .userAvatar {
            cursor: pointer;
          }
        }
      }
    }
  }
}
