.sidebar {
  height: 100vh;
  background-color: white;

  overflow-y: scroll;
  z-index: 100;
  font-family: $avenirRegular;
  padding: 50px 15px 10px 20px;
  // border: 1px solid rgba(16, 24, 40, 0.1);

  &::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }

  .toggleIconClose {
    position: absolute;
    margin-left: 35px;
    cursor: pointer;
  }

  .toggleIconOpen {
    position: absolute;
    margin-left: 188px;
    cursor: pointer;
  }

  .sidebarItem {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    color: rgba(102, 112, 133, 1);
    cursor: pointer;

    &:hover {
      color: rgba(16, 24, 40, 1);
    }

    .sidebarItemIcon {
      margin-right: 20px;
    }

    p {
      font-size: 15px;
    }

    .collapse {
      display: none;
    }
  }

  .active {
    color: rgba(16, 24, 40, 1);
  }

  .sidebarItem:last-child {
    color: rgba(247, 85, 0, 1);
  }
}
